@import "tailwindcss";

* {
  font-family: "Momo Trust Display", sans-serif;
}


html, body, #root {
    width: 100%;
    height: 100%;
}

body {
  /* margin: 8px; */
  background: black;
}

.container {
  background: #000;
}